<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="/static/js/manager/utils.js"></script>
    <style>
        html {
            scroll-behavior: smooth;
        }

        body {
            font-family: "Trebuchet MS", sans-serif;
        }

        .nav-link {
            font-size: 20px;
        }

        .sort-icon {
            margin-left: 5px;
            cursor: pointer;
        }

        .asc::after {
            content: ' ▲';
        }

        .desc::after {
            content: ' ▼';
        }

        .section-title {
            margin-bottom: 1rem;
            font-weight: bold;
        }

        .table-responsive {
            overflow-x: auto;
        }

        .hidden {
            display: none;
        }

        .card {
            border: 1px solid #e0e0e0;
            border-radius: 8px;
        }

        .btn-custom {
            margin-top: 10px;
        }
    </style>
</head>
<body class="bg-light">
<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">

        <div class="d-flex m-4 collapse navbar-collapse" id="navbarNav">
            <a class=" navbar-brand font-weight-bold" href="">Магазин</a>
            <ul class="navbar-nav ms-sm-5">
                <li class="nav-item">
                    <a id="productLink" class="nav-link" href="/users/user/manager_page/products">Товары</a>
                </li>
                <li class="nav-item">
                    <a id="customerLink" class="nav-link" href="/users/user/manager_page/users">Покупатели</a>
                </li>
                <li class="nav-item">
                    <a id="orderLink" class="nav-link active" href="">Заказы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Выйти из панели менеджера</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-12 card mb-4">
            <div class="card-body">
                <h2 id="searchTitle" class="section-title">Поиск</h2>
                <form id="searchOrderForm" class="mb-4">
                    <div class="form-group">
                        <label for="searchType">Выберите тип поиска:</label>
                        <select id="searchType" class="form-control mb-2" required>
                            <option value="orderId">По ID Заказа</option>
                            <option value="phoneNumber">По номеру телефона</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="searchOrder">Значение:</label>
                        <input type="number" id="searchOrder" class="form-control mb-2"
                               placeholder="ID" min="1" max="2147483647" required>
                    </div>
                    <button type="submit" class="btn btn-secondary btn-custom">Поиск</button>
                </form>
            </div>
        </div>
        <!--        <div class="col-md-6 card mb-4">-->
        <!--            <div class="card-body">-->
        <!--                <h2 class="section-title">История заказа</h2>-->
        <!--                <form id="historyOrderForm" class="mb-4">-->
        <!--                    <input type="number" id="historyOrderId" class="form-control mb-2"-->
        <!--                           min="1" placeholder="ID" required>-->
        <!--                    <button type="submit" class="btn btn-secondary btn-custom">Перейти</button>-->
        <!--                </form>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="section-title"
                        style="display: flex; justify-content: space-between; align-items: center;">
                        Список Заказов
                        <i class="fas fa-sync-alt"
                           id="refreshTable"
                           style="cursor: pointer;"
                           title="Обновить таблицу"></i>
                    </h2>
                    <div class="table-responsive">
                        <table class="table table-striped text-center" id="orderTable">
                            <thead>
                            <tr>
                                <th onclick="sortTable('orderTable',order_pages,0)">ID Заказ<span
                                        class="sort-icon"></span></th>
                                <th onclick="sortTable('orderTable',order_pages,1)">Имя покупателя<span
                                        class="sort-icon"></span></th>
                                <th onclick="sortTable('orderTable',order_pages,2)">Номер телефона
                                    покупателя<span class="sort-icon"></span></th>
                                <th onclick="sortTable('orderTable',order_pages,3)">Дата заказа<span
                                        class="sort-icon"></span></th>
                                <th onclick="sortTable('orderTable',order_pages,4)">Сумма заказа<span
                                        class="sort-icon"></span></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>{{ order.id }}</td>
                                <td>{{ order.customer_name }}</td>
                                <td>{{ order.customer_phone }}</td>
                                <td>{{ order.date }}</td>
                                <td>{{ order.total }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-between mt-3">
                            <button id="prev" class="btn btn-secondary" onclick="prevPage('orderTable',order_pages)">
                                Назад
                            </button>
                            <button id="next" class="btn btn-secondary" onclick="nextPage('orderTable',order_pages)">
                                Вперед
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 card mb-4">
            <div class="card-body">
                <h4 class="section-title">Удалить заказ</h4>
                <form id="deleteOrderForm" class="mb-4">
                    <input type="number" id="deleteOrderId" class="form-control mb-2" placeholder="ID Заказа"
                           min="1" max="2147483647" required>
                    <button type="submit" class="btn btn-danger btn-custom">Удалить заказ</button>
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="section-title">Отчёт о заказах покупателя</h4>
                    <form id="reportUserOrdersForm" class="mb-4">
                        <input type="tel" id="reportUserOrdersPhone" class="form-control mb-2"
                               placeholder="Номер телефона"
                               minlength="11" maxlength="11" required>
                        <button type="submit" class="btn btn-success btn-custom">Сформировать</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="section-title">Отчёт о заказах по периоду</h4>
                    <form id="reportOrdersForm" class="mb-4">
                        <div class="form-group">
                            <label for="startDate">Начальная дата:</label>
                            <input type="datetime-local" id="startDate" name="start_date" class="form-control" step="1"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="endDate">Конечная дата:</label>
                            <input type="datetime-local" id="endDate" name="end_date" class="form-control" step="1"
                                   required>
                        </div>
                        <button type="submit" class="btn btn-success btn-custom">Сформировать</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let order_pages = {currentPage: 1, rowsPerPage: 5};

    const startDateInput = document.getElementById('startDate');
    const endDateInput = document.getElementById('endDate');


    startDateInput.addEventListener('change', function () {
        const startDateValue = new Date(startDateInput.value);
        endDateInput.min = startDateInput.value;
        console.log(startDateValue)

        const currentEndDateValue = new Date(endDateInput.value);
        console.log(currentEndDateValue);
        if (currentEndDateValue <= startDateValue) {
            endDateInput.value = '';
        }
    });


    // endDateInput.addEventListener('change', function () {
    //     const startDateValue = new Date(startDateInput.value);
    //     const endDateValue = new Date(endDateInput.value);
    //
    //     console.log(startDateValue, endDateValue)
    //
    //     if (endDateValue <= startDateValue) {
    //         alert("Конечная дата должна быть позже начальной.");
    //         endDateInput.value = '';
    //     }
    // });

    const searchType = document.getElementById('searchType');
    const searchOrderInput = document.getElementById('searchOrder');

    searchType.addEventListener('change', function () {
        if (this.value === 'orderId') {
            searchOrderInput.type = 'number';
            searchOrderInput.placeholder = 'ID';
            searchOrderInput.min = '1';
            searchOrderInput.max = '2147483647';
            searchOrderInput.minLength = '';
            searchOrderInput.maxLength = '';
        } else {
            searchOrderInput.type = 'tel';
            searchOrderInput.placeholder = 'Номер телефона';
            searchOrderInput.min = '';
            searchOrderInput.max = '';
            searchOrderInput.minLength = '11';
            searchOrderInput.maxLength = '11';
        }
    });

    document.getElementById('searchOrderForm').onsubmit = async function (event) {
        event.preventDefault();
        const searchType = document.getElementById('searchType').value;
        const searchOrder = document.getElementById('searchOrder').value;
        const tableRows = document.querySelectorAll("#orderTable tbody tr");

        const prevButton = document.getElementById('prev')
        const nextButton = document.getElementById('next')

        try {
            if (searchType === 'orderId') {
                const id = parseInt(searchOrder);
                const res = await axios.get(`/orders/order/${id}`);


                tableRows.forEach(row => row.classList.add("hidden"));

                const foundRow = Array.from(tableRows).find(row => row.cells[0].textContent.trim() === res.data.id.toString());
                if (foundRow) {
                    foundRow.classList.remove("hidden");
                    prevButton.disabled = true;
                    nextButton.disabled = true;
                }
            } else {
                const res = await axios.get(`/orders/${searchOrder}`);
                tableRows.forEach(row => row.classList.add("hidden"));

                tableRows.forEach(row => {
                    if (row.cells[2].textContent.trim() === searchOrder) {
                        row.classList.remove("hidden");
                        prevButton.disabled = true;
                        nextButton.disabled = true;
                    }
                })
            }
        } catch (error) {
            alert(`Ошибка ${error.response.status}: ${error.response?.data?.detail || error.message}`)
        }
    }
    document.getElementById('deleteOrderForm').onsubmit = async function (event) {
        event.preventDefault();
        const orderId = document.getElementById('deleteOrderId').value;
        try {
            const response = await axios.delete(`/orders/order/remove_by_id/${orderId}`);
            alert(response.data.detail);
            location.reload();
        } catch (error) {
            alert(`Ошибка ${error.response.status}: ${error.response?.data?.detail || error.message}`)
        }
    }

    document.getElementById('reportUserOrdersForm').onsubmit = async function (event) {
        event.preventDefault();
        const phone = document.getElementById('reportUserOrdersPhone').value;
        try {
            await axios.get(`/orders/order/report/${phone}`);
            window.location.href = `/orders/order/report/${phone}`;
        } catch (error) {
            alert(`Ошибка ${error.response.status}: ${error.response?.data?.detail || error.message}`)
        }
    }

    function formatDate(date) {
        const day = String(date.getDate()).padStart(2, '0'); // Получаем день
        const month = String(date.getMonth() + 1).padStart(2, '0'); // Получаем месяц (месяцы начинаются с 0)
        const year = date.getFullYear(); // Получаем год
        const hours = String(date.getHours()).padStart(2, '0'); // Получаем часы
        const minutes = String(date.getMinutes()).padStart(2, '0'); // Получаем минуты
        const seconds = String(date.getSeconds()).padStart(2, '0'); // Получаем секунды

        return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`; // Форматируем строку
    }

    document.getElementById('reportOrdersForm').onsubmit = async function (event) {
        event.preventDefault();
        let startDate = new Date(document.getElementById('startDate').value.replace('T', ' ').slice(0, 19));
        let endDate = new Date(document.getElementById('endDate').value.replace('T', ' ').slice(0, 19));
        console.log(startDate, endDate);
        let formattedStartDate = formatDate(startDate);
        let formattedEndDate = formatDate(endDate);
        console.log(formattedStartDate, formattedEndDate);
        try {
            await axios.get(`/orders/order/report/from/${formattedStartDate}/to/${formattedEndDate}`);
            window.location.href = `/orders/order/report/from/${formattedStartDate}/to/${formattedEndDate}`;
        } catch (error) {
            alert(`Ошибка ${error.response.status}: ${error.response?.data?.detail || error.message}`)
        }
    }

    document.getElementById('refreshTable').onclick = function () {
        displayTable('orderTable', order_pages);
        const prevButton = document.getElementById('prev')
        const nextButton = document.getElementById('next')
        prevButton.disabled = false;
        nextButton.disabled = false;
    }
    $(document).ready(function () {
        displayTable('orderTable', order_pages);
        setupNavigation();
    });
</script>
</body>
</html>
