<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Менеджер Продуктов и Покупателей</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="/static/js/manager/products.js"></script>
    <style>
        .sort-icon {
            margin-left: 5px;
            cursor: pointer;
        }

        .asc::after {
            content: ' ▲';
        }

        .desc::after {
            content: ' ▼';
        }

        .section-title {
            margin-bottom: 1rem;
            font-weight: bold;
        }

        .table-responsive {
            overflow-x: auto;
        }

        .hidden {
            display: none;
        }

        .card {
            border: 1px solid #e0e0e0;
            border-radius: 8px;
        }

        .btn-custom {
            margin-top: 10px;
        }
    </style>
</head>
<body class="bg-light">
<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">

        <div class="d-flex m-4 collapse navbar-collapse" id="navbarNav">
            <a class=" navbar-brand" href="">Магазин</a>
            <ul class="navbar-nav ms-sm-5">
                <li class="nav-item">
                    <a id="productLink" class="nav-link active" href="">Продукты</a>
                </li>
                <li class="nav-item">
                    <a id="customerLink" class="nav-link" href="/users/user/manager_page/users">Покупатели</a>
                </li>
                <li class="nav-item">
                    <a id="orderLink" class="nav-link" href="/users/user/manager_page/orders">Заказы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Выйти из панели менеджера</a>
                </li>
            </ul>
        </div>
    </nav>
</header>


<div class="container">
    <div class="row">
        <div class="col-md-12 card mb-4">
            <div class="card-body">
                <h2 class="section-title">Поиск Продукта</h2>
                <form id="searchProductForm" class="mb-4">
                    <input type="number" id="searchQuery" class="form-control mb-2"
                           placeholder="ID продукта" min="1" required>
                    <button type="submit" class="btn btn-secondary btn-custom">Поиск
                    </button>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="section-title"
                        style="display: flex; justify-content: space-between; align-items: center;">
                        Список Продуктов
                        <i class="fas fa-sync-alt"
                           id="refreshTable"
                           style="cursor: pointer;"
                           title="Обновить таблицу"></i>
                    </h2>
                    <div class="table-responsive">
                        <table class="table table-striped text-center" id="productTable">
                            <thead>
                            <tr>
                                <th onclick="sortTable(0)">ID<span class="sort-icon"></span></th>
                                <th onclick="sortTable(1)">Название<span class="sort-icon"></span></th>
                                <th onclick="sortTable(2)">Цена<span class="sort-icon"></span></th>
                                <th onclick="sortTable(3)">Количество<span class="sort-icon"></span></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                            <tr>
                                <td>{{ product.id }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.price }}</td>
                                <td>{{ product.quantity }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-between mt-3">
                            <button class="btn btn-secondary" onclick="prevPage()">Назад</button>
                            <button class="btn btn-secondary" onclick="nextPage()">Вперед</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4 card mb-4">
            <div class="card-body">
                <h4 class="section-title">Добавить Продукт</h4>
                <form id="addProductForm" class="mb-4">
                    <input type="number" id="productId" class="form-control mb-2" placeholder="ID продукта"
                           min="1" required>
                    <input type="text" id="productName" class="form-control mb-2" placeholder="Название продукта"
                           required>
                    <input type="number" id="productPrice" class="form-control mb-2" placeholder="Цена" required>
                    <input type="number" id="productQuantity" class="form-control mb-2" placeholder="Количество"
                           min="0" required>
                    <button type="submit" class="btn btn-primary btn-custom">Добавить
                        продукт
                    </button>
                </form>
            </div>
        </div>

        <div class="col-md-4 card mb-4">
            <div class="card-body">
                <h4 class="section-title">Удалить продукт</h4>
                <form id="deleteProductForm" class="mb-4">
                    <input type="number" id="DeleteProductId" class="form-control mb-2" placeholder="ID продукта"
                           min="1" required>
                    <button type="submit" class="btn btn-danger btn-custom">Удалить
                        продукт
                    </button>
                </form>
            </div>
        </div>

        <div class="col-md-4 card mb-4">
            <div class="card-body">
                <h4 class="section-title">Обновить количество продукта</h4>
                <form id="updateProductForm" class="mb-4">
                    <input type="number" id="productIdUpdate" class="form-control mb-2" placeholder="ID продукта"
                           min="1" required>
                    <input type="number" id="productQuantityUpdate" class="form-control mb-2"
                           min="0" placeholder="Количество" required>
                    <button type="submit" class="btn btn-warning btn-custom">
                        Обновить
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    let currentPage = 1;
    const rowsPerPage = 5;

    function displayTable() {
        const tableRows = document.querySelectorAll("#productTable tbody tr");
        const totalRows = tableRows.length;
        const totalPages = Math.ceil(totalRows / rowsPerPage);

        // Скрыть все строки
        tableRows.forEach(row => row.classList.add("hidden"));

        // Определить начальный и конечный индекс
        const start = (currentPage - 1) * rowsPerPage;
        const end = start + rowsPerPage;

        // Показать только строки для текущей страницы
        for (let i = start; i < end && i < totalRows; i++) {
            tableRows[i].classList.remove("hidden");
        }
    }

    function nextPage() {
        const totalRows = document.querySelectorAll("#productTable tbody tr").length;
        const totalPages = Math.ceil(totalRows / rowsPerPage);
        if (currentPage < totalPages) {
            currentPage++;
            displayTable();
        }
    }

    function prevPage() {
        if (currentPage > 1) {
            currentPage--;
            displayTable();
        }
    }

    function sortTable(columnIndex) {
        const table = document.getElementById("productTable");
        const rows = Array.from(table.rows).slice(1);
        const isAscending = table.getAttribute('data-order') === 'asc';
        const directionModifier = isAscending ? 1 : -1;

        rows.sort((a, b) => {
            const aText = a.cells[columnIndex].textContent.trim();
            const bText = b.cells[columnIndex].textContent.trim();
            const aValue = isNaN(aText) ? aText : parseFloat(aText);
            const bValue = isNaN(bText) ? bText : parseFloat(bText);

            return aValue > bValue ? (1 * directionModifier) : (-1 * directionModifier);
        });

        // Удалить все строки из таблицы и добавить отсортированные
        const tbody = table.querySelector("tbody");
        tbody.innerHTML = '';
        rows.forEach(row => tbody.appendChild(row));

        // Сбросить текущую страницу на 1 после сортировки
        currentPage = 1;
        displayTable(); // Обновить отображение таблицы

        table.setAttribute('data-order', isAscending ? 'desc' : 'asc');
        updateSortIcons(columnIndex, isAscending);
    }

    function updateSortIcons(columnIndex, isAscending) {
        const headers = document.querySelectorAll("#productTable th");
        headers.forEach((header, index) => {
            const icon = header.querySelector('.sort-icon');
            if (icon) {
                if (index === columnIndex) {
                    icon.className = 'sort-icon ' + (isAscending ? 'asc' : 'desc');
                } else {
                    icon.className = 'sort-icon';
                }
            }
        });
    }

    document.getElementById('addProductForm').onsubmit = async function (event) {
        event.preventDefault();
        const id = document.getElementById('productId').value;
        const name = document.getElementById('productName').value;
        const price = document.getElementById('productPrice').value;
        const quantity = document.getElementById('productQuantity').value;

        const data = {
            'id': id,
            'name': name,
            'price': price,
            'quantity': quantity
        };

        try {
            const response = await axios.post(`/products/product/create`, data);
            alert('Продукт успешно добавлен');
            location.reload();
        } catch (error) {
            if (error.response.status === 422) {
                const validatorErrors = error.response.data.detail.map(err => `${err.loc.join('.')} - ${err.msg}`).join('\n');
                alert(`Ошибка ${error.response.status}: ${validatorErrors}`);
            } else if (error.response.status === 400) {
                alert(`Ошибка ${error.response.status}: Продукт с ID ${id} уже существует`);
            } else {
                alert(`Ошибка ${error.response.status}: ${error.response?.data?.detail || error.message}`);
            }
        }
    };
    document.getElementById('deleteProductForm').onsubmit = async function (event) {
        event.preventDefault();
        const id = document.getElementById('DeleteProductId').value;

        try {
            const response = await axios.delete(`/products/product/remove_by_id/${id}`);
            alert(response.data.detail)
        } catch (error) {
            if (error.response.status === 404) {
                alert(`Ошибка ${error.response.status}: Продукт с ID ${id} не существует`);
            } else if (error.response.status === 400) {
                alert(`Ошибка ${error.response.status}: ${error.response?.data?.detail || error.message}`);
            } else {
                alert(`Ошибка ${error.response.status}: ${error.response?.data?.detail || error.message}`);
            }
        }
        location.reload();
    };
    document.getElementById('updateProductForm').onsubmit = async function (event) {
        event.preventDefault();
        const id = document.getElementById('productIdUpdate').value;
        const quantity = document.getElementById('productQuantityUpdate').value;

        try {
            const response = await axios.put(`/products/product/set_quantity`, {
                'id': id,
                'quantity': quantity
            });
            alert('Количество продукта успешно обновлено');
            location.reload();
        } catch (error) {
            if (error.response.status === 422) {
                alert(`Ошибка ${error.response.status}: ID и Количество должны быть целыми неотрицательными числами`);
            } else if (error.response.status === 404) {
                alert(`Ошибка ${error.response.status}: Продукт с указанным ID не найден`);
            } else {
                alert(`Ошибка при обновлении: ${error.response?.data?.detail || error.message}`);
            }
        }
    };
    document.getElementById('searchProductForm').onsubmit = async function (event) {
        event.preventDefault();
        const id = document.getElementById('searchQuery').value;

        try {
            const res = await axios.get(`/products/product/${id}`);
            // alert('Продукт успешно найден');
            // location.reload();
            const tableRows = document.querySelectorAll("#productTable tbody tr");
            tableRows.forEach(row => row.classList.add("hidden"));

            // Найти строку с найденным продуктом и показать её
            const foundRow = Array.from(tableRows).find(row => row.cells[0].textContent.trim() === id);
            if (foundRow) {
                foundRow.classList.remove("hidden");
            }
        } catch (error) {
            alert(`Ошибка ${error.response.status}: ${error.response?.data?.detail || error.message}`);

        }
    };

    function setupNavigation() {
        $('.nav-item a').on('click', function (e) {
            if ($(this).text() === 'Выйти из панели менеджера') {
                e.preventDefault();
                window.location.href = '/';
                localStorage.removeItem('jwt_manager_token');
                document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/";
            }
        });
    }

    document.getElementById('refreshTable').onclick = function () {
        displayTable();
    }
    $(document).ready(function () {
        displayTable();
        setupNavigation();
    });
</script>
</body>
</html>
