<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Товары</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="/static/js/manager/utils.js"></script>
    <style>
        html {
            scroll-behavior: smooth;
        }

        body {
            font-family: "Trebuchet MS", sans-serif;
        }

        .nav-link {
            font-size: 20px;
        }

        .sort-icon {
            margin-left: 5px;
            cursor: pointer;
        }

        .asc::after {
            content: ' ▲';
        }

        .desc::after {
            content: ' ▼';
        }

        .section-title {
            margin-bottom: 1rem;
            font-weight: bold;
        }

        .table-responsive {
            overflow-x: auto;
        }

        .hidden {
            display: none;
        }

        .card {
            border: 1px solid #e0e0e0;
            border-radius: 8px;
        }

        .btn-custom {
            margin-top: 10px;
        }
    </style>
</head>
<body class="bg-light">
<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="d-flex m-4 collapse navbar-collapse" id="navbarNav">
            <a class=" navbar-brand font-weight-bold" href="">Магазин</a>
            <ul class="navbar-nav ms-sm-5">
                <li class="nav-item">
                    <a id="productLink" class="nav-link active" href="">Товары</a>
                </li>
                <li class="nav-item">
                    <a id="customerLink" class="nav-link" href="/users/user/manager_page/users">Покупатели</a>
                </li>
                <li class="nav-item">
                    <a id="orderLink" class="nav-link" href="/users/user/manager_page/orders">Заказы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Выйти из панели менеджера</a>
                </li>
            </ul>
        </div>
    </nav>
</header>


<main class="container">
    <div class="row">
        <!--        <div class="col-md-12 card mb-4">-->
        <!--            <div class="card-body">-->
        <!--                <h2 class="section-title">Поиск Продукта</h2>-->
        <!--                <form id="searchProductForm" class="mb-4">-->
        <!--                    <input type="number" id="searchProduct" class="form-control mb-2"-->
        <!--                           placeholder="ID продукта" min="1" required>-->
        <!--                    <button type="submit" class="btn btn-secondary btn-custom">Поиск-->
        <!--                    </button>-->
        <!--                </form>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="col-md-12 card mb-4">
            <div class="card-body">
                <h2 id="searchTitle" class="section-title">Поиск</h2>
                <form id="searchProductForm" class="mb-4">
                    <div class="form-group">
                        <label for="searchType">Выберите тип поиска:</label>
                        <select id="searchType" class="form-control mb-2" required>
                            <option value="productId">По ID</option>
                            <option value="productName">По названию</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for ="searchProduct">Значение:</label>
                        <input type="number" id="searchProduct" class="form-control mb-2"
                               placeholder="ID" min="1" max="2147483647" required>
                    </div>
                    <button type="submit" class="btn btn-secondary btn-custom">Поиск</button>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="section-title"
                        style="display: flex; justify-content: space-between; align-items: center;">
                        Список товаров
                        <i class="fas fa-sync-alt"
                           id="refreshTable"
                           style="cursor: pointer;"
                           title="Обновить таблицу"></i>
                    </h2>
                    <div class="table-responsive">
                        <table class="table table-striped text-center" id="productTable">
                            <thead>
                            <tr>
                                <th onclick="sortTable('productTable',prod_pages,0)">ID<span class="sort-icon"></span>
                                </th>
                                <th onclick="sortTable('productTable',prod_pages,1)">Название<span
                                        class="sort-icon"></span></th>
                                <th onclick="sortTable('productTable',prod_pages,2)">Цена<span class="sort-icon"></span>
                                </th>
                                <th onclick="sortTable('productTable',prod_pages,3)">Количество<span
                                        class="sort-icon"></span></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                            <tr>
                                <td>{{ product.id }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.price }}</td>
                                <td>{{ product.quantity }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-between mt-3">
                            <button id="prev" class="btn btn-secondary" onclick="prevPage('productTable',prod_pages)">
                                Назад
                            </button>
                            <button id="next" class="btn btn-secondary" onclick="nextPage('productTable',prod_pages)">
                                Вперед
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 card mb-4">
            <div class="card-body">
                <h4 class="section-title">Добавить товар</h4>
                <form id="addProductForm" class="mb-4">
                    <input type="number" id="productId" class="form-control mb-2" placeholder="ID товара"
                           min="1" max="2147483647" required>
                    <input type="text" id="productName" class="form-control mb-2" placeholder="Название товара"
                           minlength="2" maxlength="15" required>
                    <input type="number" id="productPrice" class="form-control mb-2" placeholder="Цена"
                           min="0.01" step="0.01" required>
                    <input type="number" id="productQuantity" class="form-control mb-2" placeholder="Количество"
                           min="0" max="2147483647" required>
                    <button type="submit" class="btn btn-primary btn-custom">Добавить
                        товар
                    </button>
                </form>
            </div>
        </div>

        <div class="col-md-4 card mb-4">
            <div class="card-body">
                <h4 class="section-title">Удалить товар</h4>
                <form id="deleteProductForm" class="mb-4">
                    <input type="number" id="DeleteProductId" class="form-control mb-2" placeholder="ID товара"
                           min="1" max="2147483647" required>
                    <button type="submit" class="btn btn-danger btn-custom">Удалить
                        товар
                    </button>
                </form>
            </div>
        </div>

        <div class="col-md-4 card mb-4">
            <div class="card-body">
                <h4 class="section-title">Обновить количество товара</h4>
                <form id="updateProductForm" class="mb-4">
                    <input type="number" id="productIdUpdate" class="form-control mb-2" placeholder="ID товара"
                           min="1" max="2147483647" required>
                    <input type="number" id="productQuantityUpdate" class="form-control mb-2"
                           min="0" placeholder="Количество" max="2147483647" required>
                    <button type="submit" class="btn btn-warning btn-custom">
                        Обновить
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>
<script>
    let prod_pages = {currentPage: 1, rowsPerPage: 5};
    const searchType = document.getElementById('searchType');
    const searchProductInput = document.getElementById('searchProduct');

    searchType.addEventListener('change', function () {
        if (this.value === 'productId') {
            searchProductInput.type = 'number';
            searchProductInput.placeholder = 'ID';
            searchProductInput.min = '1';
            searchProductInput.max = '2147483647';
            searchProductInput.minLength = '';
            searchProductInput.maxLength = '';
        } else {
            searchProductInput.type = 'text';
            searchProductInput.placeholder = 'Название';
            searchProductInput.min = '';
            searchProductInput.max = ''
            searchProductInput.minLength = '2';
            searchProductInput.maxLength = '15';
        }
    });

    document.getElementById('addProductForm').onsubmit = async function (event) {
        event.preventDefault();
        const id = document.getElementById('productId').value;
        const name = document.getElementById('productName').value;
        const price = document.getElementById('productPrice').value;
        const quantity = document.getElementById('productQuantity').value;

        const data = {
            'id': id,
            'name': name,
            'price': price,
            'quantity': quantity
        };

        try {
            const response = await axios.post(`/products/product/create`, data);
            alert(response.data.detail);
            location.reload();
        } catch (error) {
            if (error.response.status === 422) {
                const validatorErrors = error.response.data.detail.map(err => `${err.loc.join('.')} - ${err.msg}`).join('\n');
                alert(`Ошибка ${error.response.status}: ${validatorErrors}`);
            } else if (error.response.status === 400) {
                alert(`Ошибка ${error.response.status}: Товар с ID ${id} уже существует`);
            } else {
                alert(`Ошибка ${error.response.status}: ${error.response?.data?.detail || error.message}`);
            }
        }
    };
    document.getElementById('deleteProductForm').onsubmit = async function (event) {
        event.preventDefault();
        const id = document.getElementById('DeleteProductId').value;

        try {
            const response = await axios.delete(`/products/product/remove_by_id/${id}`);
            alert(response.data.detail)
            location.reload();
        } catch (error) {
            alert(`Ошибка ${error.response.status}: ${error.response?.data?.detail || error.message}`);
        }
    };
    document.getElementById('updateProductForm').onsubmit = async function (event) {
        event.preventDefault();
        const id = document.getElementById('productIdUpdate').value;
        const quantity = document.getElementById('productQuantityUpdate').value;

        try {
            const response = await axios.put(`/products/product/set_quantity`, {
                'id': id,
                'quantity': quantity
            });
            alert(response.data.detail);
            location.reload();
        } catch (error) {
            alert(`Ошибка ${error.response.status}: ${error.response?.data?.detail || error.message}`);
        }
    };
    document.getElementById('searchProductForm').onsubmit = async function (event) {
        event.preventDefault();
        const searchType = document.getElementById('searchType').value;
        const searchProduct = document.getElementById('searchProduct').value;
        const tableRows = document.querySelectorAll('#productTable tbody tr')

        const prevButton = document.getElementById('prev');
        const nextButton = document.getElementById('next');
        try {
            if (searchType === 'productId') {
                const id = parseInt(searchProduct);
                const res = await axios.get(`/products/product/${id}`);
                // alert('Продукт успешно найден');
                // location.reload();
                const tableRows = document.querySelectorAll("#productTable tbody tr");
                tableRows.forEach(row => row.classList.add("hidden"));

                // Найти строку с найденным продуктом и показать её
                const foundRow = Array.from(tableRows).find(row => row.cells[0].textContent.trim() === res.data.id.toString());
                if (foundRow) {
                    foundRow.classList.remove("hidden");
                    prevButton.disabled = true;
                    nextButton.disabled = true;
                }
            } else {
                const name = searchProduct.toString();
                console.log(name)
                const res = await axios.get(`/products/product/name/${name}`);

                tableRows.forEach(row => row.classList.add("hidden"));

                tableRows.forEach(row => {
                    if (row.cells[1].textContent.trim() === searchProduct) {
                        row.classList.remove("hidden");
                        prevButton.disabled = true;
                        nextButton.disabled = true;
                    }
                })
            }
        } catch (error) {
            alert(`Ошибка ${error.response.status}: ${error.response?.data?.detail || error.message}`);

        }
    };

    document.getElementById('refreshTable').onclick = function () {
        displayTable('productTable', prod_pages);
        const prevButton = document.getElementById('prev')
        const nextButton = document.getElementById('next')
        prevButton.disabled = false;
        nextButton.disabled = false;
    }
    $(document).ready(function () {
        displayTable('productTable', prod_pages);
        setupNavigation();
    });
</script>
</body>
</html>
