<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Продукты</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="/static/js/customer/products.js"></script>
    <style>
        .sort-icon {
            margin-left: 5px;
            cursor: pointer;
        }

        .asc::after {
            content: ' ▲';
        }

        .desc::after {
            content: ' ▼';
        }

        .hidden {
            display: none;
        }
    </style>
</head>
<body class="bg-light d-lg-grid">
<div class="menu">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a id="reportLink" class="nav-link" href="">Отчёт по заказам</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10 p-md-0">
            <h1 class="text-center mb-4">Выберите продукты</h1>
            <table class="table table-striped text-center" id="productTable">
                <thead>
                <tr>
                    <th onclick="sortTable(0)">Название<span class="sort-icon"></span></th>
                    <th onclick="sortTable(1)">Цена<span class="sort-icon"></span></th>
                    <th onclick="sortTable(2)">Количество<span class="sort-icon"></span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>
                        <form class="d-grid row align-items-center pick_quantity_form">
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <div class="m-md-1 w-50">
                                <input type="number" id="quantity" class="form-control quantity" name="quantity" min="0"
                                       max="{{ product.quantity }}" value="0" required>
                                <label id="quantityLabel" for="quantity" style="display: none">Не в наличии</label>
                            </div>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div>
                <button onclick="prevPage()">Назад</button>
                <button onclick="nextPage()">Вперед</button>
            </div>

            <div class="text-center mt-3">
                <button type="button" onclick="click_order_button()" class="btn btn-primary" id="order_button">Оформить
                    заказ
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    let currentPage = 1;
    const rowsPerPage = 5;

    function displayTable() {
        const tableRows = document.querySelectorAll("#productTable tbody tr");
        const totalRows = tableRows.length;
        const totalPages = Math.ceil(totalRows / rowsPerPage);

        // Скрыть все строки
        tableRows.forEach(row => row.classList.add("hidden"));

        // Определить начальный и конечный индекс
        const start = (currentPage - 1) * rowsPerPage;
        const end = start + rowsPerPage;

        // Показать только строки для текущей страницы
        for (let i = start; i < end && i < totalRows; i++) {
            tableRows[i].classList.remove("hidden");
        }
    }

    function nextPage() {
        const totalRows = document.querySelectorAll("#productTable tbody tr").length;
        const totalPages = Math.ceil(totalRows / rowsPerPage);
        if (currentPage < totalPages) {
            currentPage++;
            displayTable();
        }
    }

    function prevPage() {
        if (currentPage > 1) {
            currentPage--;
            displayTable();
        }
    }

    displayTable();

    function sortTable(columnIndex) {
        const table = document.getElementById("productTable");
        const rows = Array.from(table.rows).slice(1);
        const isAscending = table.getAttribute('data-order') === 'asc';
        const directionModifier = isAscending ? 1 : -1;

        rows.sort((a, b) => {
            const aText = a.cells[columnIndex].textContent.trim();
            const bText = b.cells[columnIndex].textContent.trim();
            const aValue = isNaN(aText) ? aText : parseFloat(aText);
            const bValue = isNaN(bText) ? bText : parseFloat(bText);

            return aValue > bValue ? (1 * directionModifier) : (-1 * directionModifier);
        });

        // Удалить все строки из таблицы и добавить отсортированные
        const tbody = table.querySelector("tbody");
        tbody.innerHTML = '';
        rows.forEach(row => tbody.appendChild(row));

        // Сбросить текущую страницу на 1 после сортировки
        currentPage = 1;
        displayTable(); // Обновить отображение таблицы

        table.setAttribute('data-order', isAscending ? 'desc' : 'asc');
        updateSortIcons(columnIndex, isAscending);
    }

    function updateSortIcons(columnIndex, isAscending) {
        const headers = document.querySelectorAll("#productTable th");
        headers.forEach((header, index) => {
            const icon = header.querySelector('.sort-icon');
            if (icon) {
                if (index === columnIndex) {
                    icon.className = 'sort-icon ' + (isAscending ? 'asc' : 'desc');
                } else {
                    icon.className = 'sort-icon';
                }
            }
        });
    }

    $(document).ready(function () {
        checkUser();
        initializeQuantityForms();
        setupNavigation();
        setupReportLink();
    });
</script>
</body>
</html>
