<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Товары</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="/static/js/customer/products.js"></script>
    <script src="/static/js/manager/utils.js"></script>
    <style>
        html {
            scroll-behavior: smooth;
        }

        body {
            font-family: "Trebuchet MS", sans-serif;
        }

        .nav-link {
            font-size: 20px;
        }

        .sort-icon {
            margin-left: 5px;
            cursor: pointer;
        }

        .asc::after {
            content: ' ▲';
        }

        .desc::after {
            content: ' ▼';
        }

        .hidden {
            display: none;
        }

        .card {
            border: 1px solid #e0e0e0;
            border-radius: 8px;
        }

    </style>
</head>
<body class="bg-light">
<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">

        <div class="justify-content-center d-flex m-4 collapse navbar-collapse" id="navbarNav">
            <a class=" navbar-brand font-weight-bold" href="">Магазин</a>
            <ul class="navbar-nav ms-sm-5">
                <li class="nav-item">
                    <a class="nav-link" href="/">Главная</a>
                </li>
                <!--                <li class="nav-item">-->
                <!--                    <a id="reportLink" class="nav-link" href="">Отчёт по заказам</a>-->
                <!--                </li>-->
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-12 card mb-4">
            <div class="card-body">
                <h2 id="searchTitle" class="section-title">Поиск</h2>
                <form id="searchProductForm" class="mb-4">
                    <div class="form-group">
                        <label for="searchType">Выберите тип поиска:</label>
                        <select id="searchType" class="form-control mb-2" required>
                            <option value="productId">По ID</option>
                            <option value="productName">По названию</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for ="searchProduct">Значение:</label>
                        <input type="number" id="searchProduct" class="form-control mb-2"
                               placeholder="ID" min="1" max="2147483647" required>
                    </div>
                    <button type="submit" class="btn btn-secondary btn-custom">Поиск</button>
                </form>
            </div>
        </div>
        <div class="col-md-12 card mb-4">
            <h1 class="text-center mb-4">Выберите товары <i class="fas fa-sync-alt"
                                                              id="refreshTable"
                                                              style="cursor: pointer;"
                                                              title="Обновить таблицу"></i></h1>
            <table class="table table-striped text-center" id="productUserTable">
                <thead>
                <tr>
                    <th onclick="sortTable('productUserTable',user_pages, 0)">ID<span class="sort-icon"></span></th>
                    <th onclick="sortTable('productUserTable',user_pages, 1)">Название<span class="sort-icon"></span>
                    </th>
                    <th onclick="sortTable('productUserTable',user_pages, 2)">Цена<span class="sort-icon"></span></th>
                    <th onclick="sortTable('productUserTable',user_pages, 3)">Количество<span class="sort-icon"></span>
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>
                        <form class="d-grid row align-items-center pick_quantity_form">
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <div class="m-md-1 w-50">
                                <input type="number" id="quantity" class="form-control quantity" name="quantity" min="0"
                                       max="{{ product.quantity }}" value="0" required>
                                <label id="quantityLabel" for="quantity" style="display: none">Не в наличии</label>
                            </div>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-between mt-1 mb-3">
                <button id="prev" class="btn btn-secondary" onclick="prevPage('productUserTable',user_pages)">Назад
                </button>
                <div class="text-center">
                    <button type="button" onclick="click_order_button()" class="btn btn-primary" id="order_button">
                        Оформить
                        заказ
                    </button>
                </div>
                <button id="next" class="btn btn-secondary" onclick="nextPage('productUserTable',user_pages)">Вперед
                </button>
            </div>

        </div>
    </div>
</div>

<script>

    let user_pages = {
        currentPage: 1,
        rowsPerPage: 5
    }

    const searchType = document.getElementById('searchType');
    const searchProductInput = document.getElementById('searchProduct');

    const prevButton = document.getElementById('prev');
    const nextButton = document.getElementById('next');

    searchType.addEventListener('change', function () {
        if (this.value === 'productId') {
            searchProductInput.type = 'number';
            searchProductInput.placeholder = 'ID';
            searchProductInput.min = '1';
            searchProductInput.max = '2147483647';
            searchProductInput.minLength = '';
            searchProductInput.maxLength = '';
        } else {
            searchProductInput.type = 'text';
            searchProductInput.placeholder = 'Название';
            searchProductInput.min = '';
            searchProductInput.max = '';
            searchProductInput.maxLength = '15';
            searchProductInput.minLength = '2';
        }
    });
    document.getElementById('searchProductForm').onsubmit = async function (event) {
        event.preventDefault();
        const searchType = document.getElementById('searchType').value;
        const searchProduct = document.getElementById('searchProduct').value;
        const tableRows = document.querySelectorAll('#productUserTable tbody tr')

        try {
            if (searchType === 'productId') {
                const id = parseInt(searchProduct);
                const res = await axios.get(`/products/product/${id}`);
                // alert('Продукт успешно найден');
                // location.reload();
                const tableRows = document.querySelectorAll("#productUserTable tbody tr");
                tableRows.forEach(row => row.classList.add("hidden"));

                // Найти строку с найденным продуктом и показать её
                const foundRow = Array.from(tableRows).find(row => row.cells[0].textContent.trim() === res.data.id.toString());
                if (foundRow) {
                    foundRow.classList.remove("hidden");
                    prevButton.disabled = true;
                    nextButton.disabled = true;
                }
            } else {
                const name = searchProduct.toString();
                console.log(name)
                const res = await axios.get(`/products/product/name/${name}`);

                tableRows.forEach(row => row.classList.add("hidden"));

                tableRows.forEach(row => {
                    if (row.cells[1].textContent.trim() === searchProduct) {
                        row.classList.remove("hidden");
                        prevButton.disabled = true;
                        nextButton.disabled = true;
                    }
                })
            }
        } catch (error) {
            alert(`Ошибка ${error.response.status}: ${error.response?.data?.detail || error.message}`);

        }
    };
    document.getElementById('refreshTable').onclick = function () {
        displayTable('productUserTable', user_pages);
        prevButton.disabled = false;
        nextButton.disabled = false;
    }


    $(document).ready(function () {
        checkUser();
        displayTable('productUserTable', user_pages);
        initializeQuantityForms();
        setupUserNavigation();
        // setupReportLink();
    });
</script>
</body>
</html>
